main {
  max-width: 120rem;
  min-height: 79vh;
  margin: 0 auto;
  padding: 4.5rem 2rem 0 2rem;
}

nav {
  margin-bottom: 4rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

@media (max-width: 26.57em) {
  nav {
    flex-direction: column;
    gap: 5rem;
  }
}
